<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>Pokke</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <%= yield %>
  <script src="/js/bundle.js"></script>
</body>
</html>
