<style>
html, body {
  height: 100%;
}
body {
  background-color: #00bcd4;
}
.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login h1 {
  margin: 0;
  color: rgba(255, 255, 255, 0.870588);
  font-weight: 300;
  font-size: 56px;
}
.login p {
  margin: 0;
  color: rgba(255, 255, 255, 0.870588);
  font-weight: 300;
  font-size: 24px;
}
.login a {
  margin: 15px 0 0;
  border: 10px;
  background: none;
  box-sizing: border-box;
  display: inline-block;
  font: inherit;
  font-family: Roboto, sans-serif;
  tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transform: translate3d(0, 0, 0);
  position: relative;
  /*height: 100%;
  width: 100%;*/
  padding: 0;
  overflow: hidden;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: #ffffff;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
}
.login span {
  position: relative;
  opacity: 1;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 36px;
  color: #00bcd4;
  -webkit-user-select: none;
}
</style>

<div class="login">
  <h1>Chase</h1>
  <p>A client web-app for Pocket.</p>
  <a href="/oauth/connect">
    <span>
      Connect with Pocket
    </span>
  </a>
</div>
